* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(38, 37, 53);

}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}
.setting {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
}
.break-session {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 30px;
}
.setting-button {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
}
.setting-button > button {
    width: 20px;
}
.setting-button > span {
    padding: 0 20px;
}
#timer-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    
}
.timer {
    margin: 0 40px;
    padding: 20px;
    border: #fff 2px solid;
    border-radius: 20px;

}
#time-left {
    font-size: 2rem;
    margin: 20px;

}
.button-action > button {
    margin: 10px 30px;
    padding: 5px 15px;
}